:root {
  --radio: 1.5rem;
  --s-5: calc(var(--s-4) / var(--radio));
  --s-4: calc(var(--s-3) / var(--radio));
  --s-3: calc(var(--s-2) / var(--radio));
  --s-2: calc(var(--s-1) / var(--radio));
  --s-1: calc(var(--s0) / var(--radio));
  --s0: 1rem;
  --s1: calc(var(--s0) * var(--radio));
  --s2: calc(var(--s1) * var(--radio));
  --s3: calc(var(--s2) * var(--radio));
  --s4: calc(var(--s3) * var(--radio));
  --s5: calc(var(--s4) * var(--radio))
}


stack-l {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

stack-l > * + * {
  margin-block-start: var(--s1);
}